*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* ---- HEADER ---- */
header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255,105,0,255);
    height: 70px;
}

.info-header{
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 76%;
    height: 50%;
    padding: 0 5px;
}

.info-categories{
    font-weight: 600;
    word-spacing: 4px;
}

.info-categories > a, .footer-section-left > a{
    color: white;
    text-decoration: none;
}

.header-logo{
    display: flex;
    justify-content: center;
    width: 300px;
    height: 100%;
    
}

.info-account{
    color: white;
    font-size: 15px;
    letter-spacing: 2px;
}

/* ---- MAIN ----- */
main{
    /* border: 2px solid lawngreen; */
    display: flex;
    justify-content: center;
    height: 1700px;
    padding-top: 50px;
}

.main-conteiner{
    /* border: 2px solid hotpink; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 78%;
    height: 100%;
}

.main-conteiner-item{
    /* border: 2px solid lawngreen; */
    display: flex;
    flex-direction: column;
    position: relative;
    width: calc(95% / 3);
    margin: 10px;
}



.item{
    font-weight: 700;
}

.price{
    color: firebrick;
    font-weight: 700;
}

.price-before{
    color: black;
    font-weight: 400;
    font-size: 13px;
    text-decoration: line-through;
}

.discount{
    position: absolute;
    left: 0;
    bottom: 180px;
    color: white;
    background-color: red;
    padding: 4px 8px;
    font-size: 13px;
    font-weight: 700;
}

.sustainability{
    position: absolute;
    left: 56px;
    bottom: 180px;
    color: white;
    background-color: green;
    padding: 4px 8px;
    font-size: 13px;
    font-weight: 600;
}

.heart{
    position: absolute;
    right: 0;
    top: 15px;
    background-color: white; 
    font-size: 30px;
    padding: 9px 15px;
}

.heart:hover{
    background: url(img/ok\ gesture.webp);
    background-size: cover;
    color: red;
}

.no-discount{
    left: 0;
}

/* ---- FOOTER ---- */
footer{
    display: flex;
    justify-content: center;
    background-color: rgba(26,26,26,255);
    color: white;
}

.footer-section{
    /* border: 2px solid blue; */
    display: flex;
    justify-content: space-between;
    width: 75%;
    height: 100%;
    padding: 20px 5px;
}


h4{
    margin-bottom: 10px;
}

h5{
    margin-bottom: 10px;
}

.footer-section-right-bottom, .footer-section-right-bottom > a{
    display: flex;
    justify-content: space-around;
    color: white;
}